@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  /* Cores Oficiais WARJ [cite: 9, 10, 77] */
  --color-warj-deep: #210B45;   /* Roxo IA / Títulos [cite: 10, 77] */
  --color-warj-tech: #6F42C1;   /* Roxo Tecnológico / Bordas [cite: 10, 77] */
  --color-warj-neon: #00D9A6;   /* Verde Neon / Ações [cite: 10, 77] */
  --color-warj-bg: #F8F9FA;     /* Fundo da Aplicação  */
  --color-warj-grey: #6C757D;   /* Texto Secundário [cite: 10, 77] */
}

body {
  background-color: var(--color-warj-bg);
  color: var(--color-warj-deep);
}